.container {
    margin-top: 100px;
    padding: 0 5%;
    margin-bottom: 50px;
}

.container {
    flex: 1;
    color: var(--tb2);
}

.container h1 {
    margin-bottom: 15px;
    margin-top: 30px;
}
.container p {
    text-align: justify;
    line-height: 27px;
    margin-bottom: 10px;
}
