.container {
    padding: 0 5%;
    width: min(1220px, 100%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    margin: auto;
    margin-top: 100px;
}

.left {
    flex: 1;
    position: relative;
}
.left img {
    max-height: 500px;
    object-fit: contain;
    position: relative;
    border-radius: 5px;
}
.left::before {
    content: "";
    position: absolute;
    right: -20px;
    top: -20px;
    width: 250px;
    height: 250px;
    background: #4298ef;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    border-radius: 5px;
    z-index: -1;
}

.left .box {
    margin-top: 5px;
    background-color: var(--page-background);
    padding: 13px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #00000027;
    display: flex;
    align-items: center;
    gap: 15px;
}
.left .box div {
    background-color: var(--primary-2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.container .left p {
    line-height: 22px;
    color: var(--tb3);
    margin-bottom: 12px;
    font-size: 0.9rem;
}

.right {
    flex: 2;
    padding: 15px;
    box-shadow: 2px 2px 3px #00000027;
}

.container .right span {
    font-size: 1.1rem;
    color: var(--primary-2);
    margin-bottom: 10px;
    display: block;
}
.container .right h2 {
    font-size: 2.2rem;
    color: var(--tb1);
    margin-bottom: 15px;
}
.container .right h2 span {
    font-size: inherit;
    color: var(--primary-2);
    display: inline;
}
.container .right p {
    line-height: 25px;
    color: var(--tb3);
    margin-bottom: 30px;
    font-size: 0.9rem;
}
.container .right a {
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 17px 30px;
    border-radius: 7px;
    background-color: var(--primary-2);
    text-decoration: none;
    transition: 0.5s;
}
.container .right a:hover {
    background-color: var(--primary-1);
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column-reverse;
    }
}
@media (max-width: 500px) {
    .right {
        flex: unset;
        width: 100%;
        box-shadow: unset;
    }
    .left {
        flex: unset;
        width: 100%;
    }
}
