.main_container {
    padding: 0 5%;
    min-height: 100vh;
    background-color: rgb(244, 249, 254);
    padding-bottom: 100px;
}

.header {
    padding-top: 100px;
    width: min(700px, 100%);
    margin: 0 auto;
    text-align: center;
}
.header span {
    color: var(--primary-2);
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
}
.header h1 {
    font-size: 2.7rem;
    display: inline;
    position: relative;
}
.header h1::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: var(--primary-2);
}
.header h1 span {
    display: inline;
}
.header p {
    margin-top: 30px;
    color: var(--tb3);
}

.container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .box {
    color: var(--tb1);
    width: 32%;
    min-height: unset;
    height: unset;
    margin-bottom: 30px;
    background-color: var(--box-background);
    padding: 15px 0;
    padding-top: 0;
    border-radius: 8px;
    box-shadow: 3px 3px 4px rgba(2, 2, 2, 0.055);
}

.container .box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.container .box p {
    padding: 0 15px;
    color: var(--tb3);
    font-size: 0.9rem;
    margin-top: 15px;
    margin-bottom: 25px;
    line-height: 25px;
}
.container .box span {
    padding: 0 15px;
}
.container .box h3 {
    padding: 0 15px;
}
.container .box a {
    margin: 0 15px;
    color: var(--tw1);
    font-size: 0.9rem;
    padding: 15px 25px;
    background-color: var(--primary-2);
    border-radius: 6px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 850px) {
    .container .box {
        width: 48%;
    }
}
@media (max-width: 550px) {
    .container .box {
        width: 100%;
    }
}
