.container {
    padding: 0 5%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    background-color: var(--primary-2);
    margin-top: 50px;
}

.container .box {
    flex: 1;
    color: var(--tw1);
}

.container .box h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.container .box p {
    margin-left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 600px) {
    .container {
        gap: unset;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .container .box {
        flex: unset;
        width: 48%;
        margin-bottom: 30px;
    }
}
@media (max-width: 550px) {
    .container .box {
        width: 100%;
    }
}
